/* Home.css */
@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

body, html {
  height: 100%;
  margin: 0;
  /* font-family: 'Poppins', sans-serif;*/
  font-family: "Teachers", sans-serif; 
  background: linear-gradient(to right, #9fbdc3, #5c7da6);
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Teachers", sans-serif; 
}

.login-card {
  background-color: #ffffff;
  padding: 40px 50px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 400px;
  font-family: "Teachers", sans-serif; 
}

h2 {
  color: #a3620d;
  margin-bottom: 10px;
  font-family: "Teachers", sans-serif; 
}

h3 {
  color: #333;
  font-family: "Teachers", sans-serif; 
  margin-bottom: 30px;
}
h1{
  color: #2b5c18;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
  font-family: "Teachers", sans-serif; 
}

label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
  font-family: "Teachers", sans-serif; 
  color: #333;
}

input,
select {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: "Teachers", sans-serif; 
  outline: none;
  font-size: 15px;
  transition: all 0.3s ease;
}

input:focus,
select:focus {
  border-color: #1a4b8c;
  box-shadow: 0 0 5px rgba(26, 75, 140, 0.3);
  font-family: "Teachers", sans-serif; 
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #295d18;
  font-family: "Teachers", sans-serif; 
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background-color: #143b70;
  font-family: "Teachers", sans-serif; 
}

.signup-buttons {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  font-family: "Teachers", sans-serif; 
  gap: 10px;
}

.signup-buttons button {
  background-color: transparent;
  border: 1px solid #227320;
  color: #1a8c2d;
  font-family: "Teachers", sans-serif; 
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.signup-buttons button:hover {
  background-color: #327a22;
  font-family: "Teachers", sans-serif; 
  color: #fff;
}
