@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

.payment-container {
  text-align: center;
  background: #f8faff;
  padding: 2rem;
  border-radius: 12px;
  max-width: 500px;
  margin: 2rem auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: "Teachers", sans-serif;
}

.payment-options {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  font-family: "Teachers", sans-serif;
  gap: 1rem;
}

.upi-qr {
  width: 200px;
  margin-top: 1rem;
  font-family: "Teachers", sans-serif;
}

.pay-btn {
  background: #28a745;
  color: white;
  font-family: "Teachers", sans-serif;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 6px;
  cursor: pointer;
}
