/* Main Container */

@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');


.orders-page {
  padding: 30px;
  background: #e9f2ff;
  min-height: 100vh;
  font-family: "Teachers", sans-serif;
}

/* Back Button */
.back-btn {
  background: #2c7a3f;
  color: white;
  font-family: "Teachers", sans-serif;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 25px;
  transition: 0.3s ease;
}

.back-btn:hover {
  background: #1f5b2d;
  font-family: "Teachers", sans-serif;
}

/* Heading */
.orders-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px;
  font-family: "Teachers", sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #1f4e79;
}

.welcome-text {
  font-size: 20px;
  font-family: "Teachers", sans-serif;
  color: #495057;
  margin-bottom: 25px;
}

/* Table Wrapper */
.orders-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  font-family: "Teachers", sans-serif;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* Table Header */
.orders-table thead {
  background: #cfe8b6;
  font-family: "Teachers", sans-serif;
}

.orders-table thead th {
  padding: 16px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Teachers", sans-serif;
  color: #2b2b2b;
  text-align: left;
}

/* Table Rows */
.orders-table tbody tr {
  border-bottom: 1px solid #e4e4e4;
  font-family: "Teachers", sans-serif;
  transition: background 0.2s ease;
}

.orders-table tbody tr:hover {
  background: #f5faff;
  font-family: "Teachers", sans-serif;
}

.orders-table td {
  padding: 16px;
  font-family: "Teachers", sans-serif;
  font-size: 17px;
  color: #333;
}

/* Status Badges */
.status {
  padding: 7px 12px;
  font-family: "Teachers", sans-serif;
  border-radius: 8px;
  font-weight: 600;
}

.status.paid {
  background: #3cb371;
  font-family: "Teachers", sans-serif;
  color: white;
}

.status.pending {
  background: #ff6b6b;
  font-family: "Teachers", sans-serif;
  color: white;
}

/* View Button */
.view-btn {
  background: #0077ff;
  font-family: "Teachers", sans-serif;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.view-btn:hover {
  background: #005fcc;
  font-family: "Teachers", sans-serif;
}

/* Empty State */
.no-orders {
  text-align: center;
  font-family: "Teachers", sans-serif;
  padding: 20px;
  font-size: 20px;
  color: #777;
}
