@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

.auth-container {
  max-width: 420px;
  margin: 60px auto;
  padding: 35px 40px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Teachers", sans-serif;

}

.auth-container h1 {
  font-size: 26px;
  font-family: "Teachers", sans-serif;

  font-weight: 700;
  margin-bottom: 25px;
  color: #1f7a1f;
}

.auth-container form {
  display: flex;
  font-family: "Teachers", sans-serif;

  flex-direction: column;
  gap: 14px;
}

/* Input boxes */
.auth-container input {
  padding: 12px 14px;
  font-family: "Teachers", sans-serif;

  font-size: 15px;
  border: 1px solid #cdd1d0;
  border-radius: 8px;
  transition: 0.2s ease;
}

.auth-container input:focus {
  border-color: #1e8f34;
  font-family: "Teachers", sans-serif;

  outline: none;
  box-shadow: 0 0 0 3px rgba(30, 143, 52, 0.2);
}

/* Submit button */
.auth-container button {
  padding: 12px;
  background: #1e8f34;
  font-family: "Teachers", sans-serif;

  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s ease;
}

.auth-container button:hover {
  background: #167128;
  font-family: "Teachers", sans-serif;
}

.auth-container button:disabled {
  background: #a3d1aa;
  cursor: not-allowed;
  font-family: "Teachers", sans-serif;
}

/* Login link */
.auth-container p {
  margin-top: 15px;
  font-size: 14px;
  font-family: "Teachers", sans-serif;
}

.auth-container a {
  color: #1e8f34;
  text-decoration: none;
  font-family: "Teachers", sans-serif;
  font-weight: 600;
}

.auth-container a:hover {
  text-decoration: underline;
  font-family: "Teachers", sans-serif;
}
